# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules & build artifacts
node_modules/
dist/
dist-ssr/
*.local

# Environment variables & secrets
secrets/
.env
.env.local
.env.*.local

# IDE / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
